- Do Rooms Get Booked More Frequently on the Weekends?
- Do Rooms Get with a View Get Booked More Frequently on Weekends?

In [6]:
import pandas as pd

FilePathRoot = "C:\\Users\\USBennetDa2\\OneDrive - NESTLE\\Udacity Data Science Nanodegree\\Project 1"

In [7]:
CalendarCleaned = pd.read_csv(FilePathRoot + "\\CalendarCleaned.csv")
CalendarCleaned.head()

   Unnamed: 0  listing_id        date  available  price
0           0      241032  2016-01-04          1   85.0
1           1      241032  2016-01-05          1   85.0
2           2      241032  2016-01-06          0    NaN
3           3      241032  2016-01-07          0    NaN
4           4      241032  2016-01-08          0    NaN